body{
    font-family: "Open Sans", sans-serif;
}
.wrap {
    width: 1200px;

    margin: 0 auto;

    
}

h1, h2, h3 {
font-family: "Spectral SC", sans-serif;


}

header {
    width: 1440px;
    height: 581px;

}
.header {
    position: absolute;
    background-image: url('../img/header-bg.png');
    width: 1440px;
    height: 581px;
    left: 0px;
    top: 0px;
    margin-bottom: 100px;
    


 }

 .header-list {
   list-style-type: none;
   display: flex;
   justify-content: flex-end;
   margin-top: 38px;

 }

 .header-list__item {
    margin-left: 61px;
    padding-bottom: 5px;
    margin-right:61px;
 
    transition: 0.3s;
    list-style-type: none;

 }

 .header-list:last-child {

    margin-right: 80px;
 }
 .header-list a {
    color: #2E2F22;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.header-list a:hover {
    color: #92b0f1;
    transition: 0.1s;
}
.header__logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;

    position: absolute;
width: 130px;
height: 82.08px;
left: 120px;
top: 10px;

}

 .page {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1440px;

}

.page-article {

display: flex;
justify-content: space-around;
margin: 0 auto;
}

.block-select {
display: flex;
justify-content: space-between;

}
.filter {
    display: flex;
    /* padding: 7px 22px 7px 12px; */
    box-sizing: border-box;
    /* margin: 0 0 0 auto; */
    font-size: inherit;
    padding-left: 20px;
    border: none;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    color: #000000;
    background-color: #D7D1C9;
    background-image: url('/img/play-button.svg');
    background-position: 160px;
    background-size: 20px;
    background-repeat: no-repeat;
    font-family: 'Open Sans';
    appearance: none;
} 
.article-href {
    text-decoration: none;
    color: #2E2F22;
}
.block-article {
display: flex;
flex-wrap: wrap;
justify-content: space-between;


}

.block-article__all {
    width: 380px;


}
.block-article__all__img {

height: 268px;
width: 380px;

border-radius: 10px;

  transition: all 1s ease-out;

    }
    
    .block-article__all__img:hover{
 transform: scale(1.1);
 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }


.h3-header {
    font-family: Spectral SC;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
}
.big {
    font-size: 20px;   
}


.article-54 {
    background-image: url(../img/article-img-big1.png);
    background-repeat: no-repeat;
    width: 590px;
height: 552px;
border-radius: 10px;
transition: all 1s ease-out;
}
.article-54:hover {
    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.article-54__text {
    color: white;
    position: relative;
    top: 318px;
    width: 380px;
    right: -100px;
    

}
.article-45 {
    background-image: url(../img/article-4.png);
    background-repeat: no-repeat;
    width: 590px;
height: 552px;
border-radius: 10px;
transition: all 1s ease-out;
}
.article-45:hover {
    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.article-45__text {
    color: white;
    position: relative;
    top: 318px;
    width: 380px;
    right: -100px;
    

}
.block-article__all__tag {
    color: rgba(46, 47, 34, 0.7);
    display: flex;
    justify-content: space-between;
}
.block-article__all__td {
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: space-between;
}



.block-page {
 display: flex;
 justify-content: space-between;

}
.page__title-center {
    text-align: center;
}

.block-ava__img {
    width: 590px;
    height: 693px;
    transition: all 1s ease-out;
}

  

.block-ava__img:hover {
    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.block-description {
padding-left: 40px;
display: flex;
flex-direction: column;
justify-content: space-between;

}

.block-description-desc {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;

}

.block-description__quote {
    display: flex;
    justify-content: space-around;
  
    
    font-family: Open Sans;
font-style: italic;
font-weight: normal;
font-size: 30px;
line-height: 40px;

}


.block-description__quote-line {
    border-left: 3px solid #D7D1C9;
    padding-left: -20px;
    position: relative;
    right: 20px;
}

.block-description__quote__p {


}

.block-portfolio {

display: flex;
justify-content: space-between;
}

.block-portfolio-one {
    background-image: url(../img/portfolio-img-3.png);
    width: 387px;
height: 525px;
display: flex;
flex-direction: column;
align-items: center;


transition: all 0.5s ease-out;


}
.block-portfolio-one:hover {

    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.block-portfolio-one-text {
    position: relative;
    top: 135px;
    width: 352px;

    color: #2E2F22;

}
.block-portfolio-one__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
   
   
    }
    
    .block-portfolio-one__title span {
     
        padding-top: 40px; 
    
    }
    .block-portfolio-one__p {

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    
    text-align: center;
    
    color: #2E2F22;

}


.block-portfolio-two {

    background-image: url(../img/portfolio-img-1.png);
    width: 387px;
height: 525px;
display: flex;
flex-direction: column;
align-items: center;



transition: all 0.5s ease-out;


}
.block-portfolio-two:hover {

    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.block-portfolio-two-text {
    position: relative;
    top: 135px;
    width: 352px;

    color: #FFFFFF;

}
.block-portfolio-two__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
   
   
    }
    
    .block-portfolio-two__title span {
     
        padding-top: 40px; 
    
    }
    .block-portfolio-two__p {

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    
    text-align: center;
    
    color: #FFFFFF;

}



.block-portfolio-three {
    background-image: url(../img/portfolio-omg-2.png);
    width: 387px;
height: 525px;
display: flex;
flex-direction: column;
align-items: center;
transition: all 0.5s ease-out;


}
.block-portfolio-three:hover {

    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.block-portfolio-three-text {
    position: relative;
    top: 135px;
    width: 352px;

}
.block-portfolio-three__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
   
   
    }
    
    .block-portfolio-three__title span {
     
        padding-top: 40px; 
    
    }
.block-portfolio-three__p {

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    
    text-align: center;
    
    color: #2E2F22;

}

.block_more {
    text-align: center;
    padding-top: 50px;
  
}
.block_more__btn {

    text-decoration: none;
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
/* identical to box height */

padding: 10px 50px;
color: #202117;
border: 1px solid #202117;
box-sizing: border-box;
border-radius: 10px;
}

.block_more__btn:hover {
    background-color: #383833;
    color: white;
    transition: 0.3s;
}

.wrap-write {
    width: 996px;
  


}
.contact {
    background-image: url(../img/contact-img.png);
    background-repeat: no-repeat;
    border-radius: 10px;
  margin: 0 auto;
 
}
.contact-form {

    display: block;
    height: 630px;
    max-width: 837px;
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: 60px;
    
}

.usernameemail {
    display: flex;
}

#user-field-id {
    width: 398px;
    font-size: 13px;
    height: 40px;
   
   font-size: 18px;
   padding-left: 15px;
    margin-top: 15px;
    margin-right: 18px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #202117;
   
    border-radius: 10px;
    opacity: 0.7;
}

#email-field-id {
    width: 398px;
    font-size: 13px;
    height: 40px;
   
   font-size: 18px;
   padding-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #202117;
   
    border-radius: 10px;
    opacity: 0.7;
}
.message {
    margin-top: 30px;
}


#message-field-id {

        /* = Убираем скролл */
        overflow: auto;
    
        /* = Убираем увеличение */
        resize: none;
        
    
        /* = Добавим фон, рамку, отступ*/
      
        
        width: 831px;
        height: 293px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 15px;
    padding-top: 15px;
    margin-top: 15px;

    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #202117;
   
    border-radius: 10px;
   
    opacity: 0.7;


}
.hidden {
display: none;

}

.message.warning .comment-label {
    color:  #d3251f;
  }
  
  .message.warning .comment-area {
    color:  #d3251f;
    border-color:  #d3251f;
  }
  
  .message.warning .comment-area:focus {
    outline-color:  #d3251f;
  }
  
  .message.warning .char-counter {
    color: #d3251f;
    font-weight: bold;
  }
  
  .submit-button:disabled {
    opacity: 0.25;
  }
  .message.warning  .submit-button:hover{
    background-color: transparent;
    color: black;
    transition: 0.3s;
  }


.title_form {
    font-family: 'Spectral SC', sans-serif;
    font-weight: 700;
}

.btn__send {
    position: relative;
    left: 344px;
    background-color: transparent;
    top: 10px;
}

.footer {
    background-color: #D7D1C9;
    width: 1440px;
    height: 181px;


}

html {
    scroll-behavior: smooth;
}

.block-footer {
  
    width: 630px;
    margin: 0 auto;
    padding-top: 59px;
}
.block-footer__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}
.block-footer__list-item {
    list-style-type: none;
}


.block-footer__list-item-a {
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #2E2F22;
}
.block-footer__list-item-a:hover {
    color: #92b0f1;
    transition: 0.1s;
}